.body {
  color: green;
  /* background-color: beige; */
  width: 500px;
}


.button1 {
  background-color: green;
  /* background-color: #4CAF50; */
  color: white;
  font-size: 20px;
  border-radius: 12px;
}
